body {
    font-family: Impact, sans-serif;
    background-color: black;
    color: blue;
}

button {
    font-family: inherit;
    font-size: 1em;
    background-color: orange;
    border: none;
    color: blue;
    padding: 0.2em;
}

button:hover {
    text-decoration: underline;
}

#gamePanel {
    display: flex;
}

#gamePanel > * {
    margin: 0.5em;
}

#heldTetrominoButton {
    display: grid;

    height: 6em;
    width: 6em;

    padding: 0;

    background-color: grey;
}

#gameCanvas, #heldTetromino {
    display: grid;
    
    border: 1px solid white;
    padding: 0.5px;
}

#heldTetromino {
    grid-column: 1;
    grid-row: 1;

    border: none;
    margin: auto;
}

#gameCanvas > *, #heldTetromino > * {
    border: 0.5px solid white;
}

#startGameMenu {
    grid-column: 2/10;
    grid-row: 5/16;

    text-align: center;

    background-color: red;

    padding: 1em;
}

#touchControls {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
}

#touchControls > button:hover {
    text-decoration: none;
}