@import url('https://fonts.googleapis.com/css?family=Roboto|Space+Mono');

* {
    box-sizing: border-box;
}

body {
    --off-black: rgba(0, 0, 0, 0.8);
    --off-white: rgba(255, 255, 255, 0.7);
    --light-blue: #4eb5c3;
    --dark-blue: #4240bf;
    --pink: #bf40b0;

    font-family: 'Space Mono', monospace;
    background-color: #121212;
    color: var(--off-white);
}

h1, h2, h3 {
    color: var(--pink);
}

p, label {
    font-family: Roboto, sans-serif;
}

ul {
    list-style-type: none;
    padding-left: 1em;
}

button {
    font-family: inherit;
    font-size: 1em;
    border: none;
    padding: 0.2em;
    
    background-color: var(--pink);
    color: var(--off-black);
}

button:hover {
    color: var(--dark-blue);
}

#gamePanel {
    display: flex;
    flex-direction: column;
}

#gamePanel > * {
    margin: 0.5em;
}

#heldTetrominoButton {
    display: grid;
    
    height: 6em;
    width: 6em;
    
    padding: 0;
    
    background-color: grey;
}

#leaderboard {
    border: 1px solid var(--off-white);

    margin: auto;
    padding: 1em;

    color: var(--off-white);

    font-family: Roboto, sans-serif;
}

button, ul {
    font-family: Roboto, sans-serif;
}

input {
    border: 1px solid var(--pink);
    margin: 1em;
}

#leaderboard > table {
    height: calc(60vh - 2em);
    width: calc(30vh - 2em);
}

#leaderboard td, #leaderboard th {
    padding: 0.3em;
    text-align: left;
}

#leaderboard td:first-child {
    text-align: right;
    width: 2em;
}

#leaderboard td:last-child {
    text-align: right;
}

#leaderboard th:first-child > div {
    display: flex;
}

#leaderboard th > div > * {
    margin: auto;
}

#leaderboard th > div > *:first-child {
    margin-left: 0.3em;
}

#leaderboard th > div > *:last-child {
    margin-right: 0;
}

#gameCanvas, #heldTetromino {
    display: grid;
    
    border: 1px solid var(--off-white);

    border-collapse: collapse;
}

#gameCanvas, #leaderboard {
    height: 60vh;
    width: 30vh;
}

#leaderboard {
    width: 40vh;
}

#leaderboard > table {
    width: 100%;
}

#gameCanvas {
    margin: auto;
    
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(20, 1fr);
}

#heldTetromino {
    grid-column: 1;
    grid-row: 1;
    
    border: none;
    margin: auto;
}

#gameCanvas > *, #heldTetromino > * {
    border: 1px solid var(--off-white);
}

.mino {
    z-index: 10;
}

#startGameMenu {
    grid-column: 1/11;
    grid-row: 1/21;
    
    text-align: center;
    
    background-color: var(--off-black);
    
    padding: 1em;
    
    z-index: 20;
    
    display: flex;
    flex-direction: column;
}

@media (min-width: 800px) {
    #startGameMenu {
        grid-column: 2/10;
        grid-row: 3/18;
    }
}

#startGameMenu > * {
    margin: auto;
}

#startGameMenu input {
    width: calc(100% - 2em);
}

#startGameMenu button {
    margin: 1em;
}

h2, #startGameMenu h3 {
    margin-top: 0;
}

#touchControls {
    display: grid;
    
    grid-template-columns: repeat(3, 1fr);

    margin: auto;

    margin-top: 0.5em;
}

#touchControls button {
    font-weight: bold;

    border: 1px solid rgba(0, 0, 0, 0.4);

    padding: 0.8em;
}

#touchControls > button:hover {
    text-decoration: none;
}

#gameControls {
    display: flex;
    flex-direction: row;
    
    padding: 1em;
}

#gameControls > * {
    margin: auto;
}

@media (min-width: 800px) {
    #gamePanel {
        flex-direction: row;
    }

    #gameCanvas, #leaderboard {
        height: 80vh;
        width: 40vh;
    }

    #touchControls {
        width: 40vh;
    }

    #leaderboard > table {
        height: calc(80vh - 2em);
        width: calc(40vh - 2em);
    }
}