#gameCanvas {
    border: 1px solid black;
    padding: 0.5px;
}

#gameCanvas > * {
    border: 0.5px solid white;
}

#startGameMenu {
    grid-column: 2/10;
    grid-row: 5/16;

    text-align: center;

    background-color: red;

    padding: 1em;
}